<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/general.css">
    <link rel="stylesheet" href="css/nav.css">
    <link rel="stylesheet" href="css/cuerpo.css">
    <title>Inicio | LM-galery</title>
</head>
<body>
    <header>
        <h1>LM Galery</h1>
        <nav>
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/imagenes">Imagenes</a></li>
                <li><a href="/enviar">Enviar Imagenes</a></li>
            </ul>
        </nav>
    </header>
    <main class="main">
        <div class="form">
            <div class="info">
                <h2 class="h2">Bienvenido <%= username%></h2>
                <p class="p-bye">¿¡Listo para mostrar tu arte al mundo!?</p>
            </div>
            <form action="/imagenes" method="post" enctype="multipart/form-data" id="form">
                <p>Envia tu imagen aquí</p>
                <input type="file" name="img" id="img">
                <input type="submit" value="Enviar" class="enviarImg">
            </form>
            <div class="info-modal">
            </div>
        </div>
    </main>

    <script src="js/validarUsuario.js"></script>
</body>
</html>