<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/general.css">
    <link rel="stylesheet" href="css/nav.css">
    <link rel="stylesheet" href="css/cuerpo.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <title>Inicio | LM-galery</title>
</head>
<body>
    <header>
        <h2>LM Galery</h2>
        <nav class="nav-primario">
            <ul>
                <li title="Inicio"><a href="/"><span class="material-symbols-outlined">home</span></a></li>
                <li title="Ver imagenes"><a href="/imagenes"><span class="material-symbols-outlined">photo_library</span></a></li>
                <li title="Agregar nueva imagen"><a href="/enviar"><span class="material-symbols-outlined">add_photo_alternate</span></a></li>
            </ul>
        </nav>
    </header>
    <main class="main">
        <div class="form">
                <form method="post" enctype="application/x-www-form-urlencoded" action="/u" class="usuario">
                    <h2>Bienvenido</h2>
                    <p>Este sera el nombre de usuario que aparecera en tu imagen</p>
                    <div class="username">
                        <span>@</span>
                        <input type="text" class="username" name="username" id="username" minlength="2" maxlength="16">
                    </div>
                    <input type="submit" value="Continuar" id="recibirUsuario" class="enviarImg">
                </form>
            <div class="info-modal">
                <p class="<%= mensajeClase%>"><%= mensaje%></p>
            </div>
        </div>
    </main>

    <script src="js/validarUsuario.js"></script>
</body>
</html>