@media screen and (max-width: 474px) {
    .photo-container{
        width: 100%;
    }

    header{
        flex-direction: column;
    }
}

@media screen and (max-width: 325px){
    header > nav > ul > li{
        margin: 0 7px;
    }
} 